<% if object.errors.any? %>
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h5>表单有 <%= object.errors.count %> 个错误。</h5>
  <ol>
  <% object.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
  </ol>
</div>
<% end %>