
<%= render 'shared/error_messages', object: f.object %>


<div class="form-group">
  <label for="tasks_file">
  导入数据 <small>（请使用固定数据格式。）</small>
  </label>
  <input type="file" name="tasks_file" id="tasks_file" class="form-control">
</div>